body{
    background: linear-gradient(to top, black, darkblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    color: white;
    font-family: "Bitcount Prop Single","consolas", sans-serif;
    font-weight: 300;
    font-size: 60px;
    border-bottom-style: dotted;
    border-top-style: dotted;
    border-color: white;
    text-align: center;
}
h2{
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 0.1px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
h3{
    color: white;
    text-align: center;
}
p{
    color: white;
    font-family: "consolas", sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: cyan wavy underline;
    font-size: medium; 
    
}
ul{
    color: white;
}
ol{
    color: white;
}
a{
    color: white;
}
table{
    color: white;
}
form{
    color: white;
}
img{
    margin-left: 35%;
}
#img2{
    margin-left:0%;
    margin-right: 3%;
    float: left;
}